@import "./_partials";
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  font-family: "Indie Flower", cursive;
}

// :link
%nostyle {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

%nostyle {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}
